# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.log
logs/
staticfiles/
media/
*.sqlite3
.pytest_cache/

# Node
node_modules/
dist/
.env.local
.env.production

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
*.swp
